.left_side_of_dashboard {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h5 {
    margin-top: -11px;
  }
}
.player-status-actions a {
  text-decoration: none;
}
.card-notification-area {
  width: 100%;
  height: 100%;
  padding: 18px;
  background: #EFEFEF;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.card-notification {
  overflow: hidden;
  height: 60px;
  background: white;
  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  // border-radius: 8px;
}
.notification-image {
  display: flex;
  align-items: center;
  width: 13%;
}
.fa-pen-to-square {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.dashboard-profile-info {
  width: 100%;
  p {
    font-size: 15px;
    opacity: 60%;
  }
}
.notification-info {
  flex-grow: 1;
  p {
    font-size: 15px;
    opacity: 60%;
    margin-bottom: 0px;
    padding: 5px;
  }
}
.dashboard-top-left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.dashboard-profile {
  display: flex;
  align-items: center;
  background-color: #EFEFEF;
  padding: 25px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  p {
    margin: 0px;
  }
  h4 {
    margin: 0px;
  }
  img {
    margin-right: 15px;
  }
}
.notification-actions {
  display: flex;
  justify-content: flex-end;
  img {
    width: 18px;
    height: 18px;
  }
  a {
    text-decoration: none;
  }
}
.notification-action {
  display: flex;
  flex-direction: column;
}
.hosted-games {
  display: grid;
  grid-template-columns: 260px 260px 260px;
  grid-gap: 18px;
  padding: 20px;
  margin-top: 15px;
  overflow: scroll;
  height: 480px;
  justify-content: center;
}
.stacked-notifications {
  background: #E8B548;
  padding: 10px;
  border-radius: 1px;
}
.dashboard-events-card {
  width: 100%;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
  border-radius: 18px;
}
.dashboard-main-container {
  display: flex;
  height: 90vh;
}
.notification-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border: white 1px solid;
}
.pills-container {
  background-color: #EFEFEF;
  border-radius: 5px;
  // margin-top: 30px;
  // height: 65vh;
  width: 100%;
  margin-right: 55px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 30px;
  flex: 1 1 auto;
}
.right-side-of-dashboard {
  // box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  // background-color: #EFEFEF;
  // width: 40vw;
  // border-radius: 10px;
  // margin-left: 30px;
  // padding: 25px;
  // text-align: center
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  padding-left: 30px;
}
.nav-pills {
  display: flex;
  justify-content: space-around;
  margin-top: 21px;
}
.dashboard-rankings {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #EFEFEF;
  width: 100%;
  border-radius: 10px;
  // margin-left: 30px;
  padding: 25px;
  text-align: center;
  height: 67%;
  overflow: scroll;
  margin-bottom: 30px;
}
.message-room {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #EFEFEF;
  // width: 40vw;
  border-radius: 10px;
  // margin-left: 30px;
  padding: 25px;
  text-align: center;
  overflow: scroll;
  height: 29%;
  h4 {
    margin-bottom: 20px;
  }
}
.message-room-buttons-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
