.banner-show {
  background-size: cover;
  background-position: center;
  padding: 140px 80px 60px 90px;
  height: 68vh;
}

.show-game-info {
  height: 100%;

  display: flex;
  justify-content: space-between;
  margin-top: top;

}

.show-game-names {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(232,181,72);

  h2 {
    font-size: 57px;
    font-weight: 800;
    margin-left: 25px;
  }

  h3 {
    font-size: 35px;
    font-weight: 500;
    margin-left: 30px;
    color: rgb(244,242,230);
  }
  h4 {
    font-size: 24px;
    font-weight: 300;
    margin-left: 30px;
    color: rgb(255, 255, 255);
  }

}

.show-game-players {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 35px;
  padding-right: 4px;
  .avatar-bordered {

  }

}

.show-game-status {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 65px;
  border-radius: 32px;
  color: white;
  font-size: 32px;
  font-weight: 600;
}

.game-status {

  padding: 10px 20px;
  font-weight: bolder;

  a {
    text-decoration: none;
  }

  h3 {
    color: antiquewhite;

  }
}

.show-game-infos {
  margin-bottom: 60px;
}

.current-players {
  display: flex;

  h3 {
    margin-right: 20px;
    color: antiquewhite;
  }
}

.game-event-name {

  h2 {
    font-size: 48px;
    font-weight: 700;
    color: burlywood;
  }

  p {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color: antiquewhite;
  }
}

#card-carousel {
  margin-inline:25px ;
  .carousel-item {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
