.banner-show {
  background-size: cover;
  background-position: center;
  padding: 118px 80px 20px 90px;
  height: 68vh;
  position: relative;
}

.show-game-info {
  height: 90%;

  display: flex;
  justify-content: space-between;
  margin-top: top;

}

.user-on-top {
  z-index: 4;
}

.user-on-bottom {
  z-index: 0;
}

.show-game-names {
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(232,181,72);

  h2 {
    font-size: 57px;
    font-weight: 800;
    margin-left: 25px;
  }

  h3 {
    font-size: 35px;
    font-weight: 500;
    margin-left: 30px;
    color: rgb(244,242,230);
    font-family: 'Nunito', serif;
  }
  h4 {
    font-size: 30px;
    font-weight: 300;
    margin-left: 30px;
    color: rgb(255, 255, 255);
    opacity: 80%;
    font-family: 'Playfair Display', serif;
    text-shadow: 4px 4px 18px darkgrey;
  }

  h5 {
    font-size: 22px;
    color: #e8b548;
    text-shadow: 1px 1px 3px grey;
    font-weight: 400;
    margin-top: 14px;

  }

}

.show-game-players {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 20px;
  margin-right: 35px;
  padding-right: 4px;
  .avatar-bordered {

  }

}

.show-game-status {
  background-color: transparent;
  height: 65px;
  border-radius: 32px;
  color: white;
  font-size: 32px;
  font-weight: 600;
  position: absolute;
  bottom: -20px;
}

.players-display {
  display: flex;
  margin-right: 20px;
}

.game-status {

  padding: 10px 20px;
  font-weight: bolder;

  a {
    text-decoration: none;
  }

  h3 {
    color: antiquewhite;
    margin: 0px;
    padding: 0px;

  }
}


.current-players {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-left: 40px;


  h3 {
    margin-right: 20px;
    color: antiquewhite;
  }
}

.status-postion{
  position: relative;
  display: flex;
  justify-content: center;
}

.game-event-name {

  h2 {
    font-size: 64px;
    font-weight: 700;
    color: #e8b548;
    font-family: "Aboreto", cursive;
    text-shadow: 2px 2px 2px darkgrey;
    letter-spacing: 1px;
  }

  p {
    font-size: 21px;
    font-style: italic;
    font-weight: 400;
    color: antiquewhite;
    width: 80%;
    opacity: 70%;
    text-shadow: 1px 1px 4px black;
  }
}

#card-carousel {
  margin-inline:25px ;
  .carousel-item {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }
}
