.end-game-container {
  text-align: center;
  margin-top: 40px;
  background: rgb(34,193,195);
  background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);

  h4 {
    font-size: 48px;
    line-height: 82px;
  }
}

.finish-content {
  padding: 10px 60px;
  margin-top: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.text-placings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-right: 25px;
}

.players-in-game {
  padding: 48px;

  h5 {
    margin-bottom: 15px;
  }
}

.players-in-game {
background-color: #efefef;
border-radius: 12px;
width: 40%;
margin-left: 25px;
.players-game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
}

.congrats-text {
  padding: 50px 10px;
  background-color: #efefef;
  border-radius: 12px;
  width: 100%;
  margin-bottom: 28px;

  h2 {
    margin-bottom: 40px;
  }

  h4 {
    margin-bottom: 15px;
  }
}

.end-game-chits {
  display: flex;
  justify-content: center;
}

.end-game-chit {
  padding: 13px;
}

.placings-area {
    padding: 55px 10px;
    background-color: #efefef;
    border-radius: 12px;
    width: 100%;
}


.btn-join {
  width: 240px;
  margin:150px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
  background-color: #e8b548;
}

.btn-join:hover {
  background-color: #000000;
  color: #e8b548;
  border-color: #e8b548;
}

#confetti-canvas {
  position: absolute;
  left: 0;
  z-index: -1;
}
