.end-game-container {
  text-align: center;
  margin-top: 40px;

  h4 {
    font-size: 48px;
  }
  p {
    font-size: 30px;
  }
}

.finish-content {
  padding: 10px 60px;
  margin-top: 40px;
  text-align: center;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}

.text-placings {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  margin-right: 25px;
}

.players-in-game {
  padding: 20px;
}

.players-in-game {
background-color: #efefef;
border-radius: 12px;
width: 40%;
margin-left: 25px;
.players-game {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
}

.congrats-text {
  padding: 45px 10px;
  background-color: #efefef;
  border-radius: 12px;
}

.end-game-chits {
  display: flex;
  justify-content: center;
}

.end-game-chit {
  padding: 13px;
}

.placings-area {
    padding: 45px 10px;
    background-color: #efefef;
    border-radius: 12px;
    width: 100%;
}


.btn-join {
  width: 240px;
  margin:150px auto 0;
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  position: relative;
  margin-top: 20px;
}

.confetti-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.confetti-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}
@keyframes
topBubbles {  0% {
 background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
 50% {
 background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
}
 100% {
 background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}
@keyframes
bottomBubbles {  0% {
 background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
}
 50% {
 background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
}
 100% {
 background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
 background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
}
}
