
<div class="banner">
  <div class="banner-content text-center">
    <h1>Game Plan</h1>
    <p>Play what you want, where you want, with who you want to.</p>
    <%= link_to "Play now", new_user_session_path, class: "btn btn-lg btn-primary"  %>
  </div>
</div>
