.btn-primary {
  margin-left: 8px;
  background-color: #E8B548;
  border-radius: 10px;
  border: none;
  display: flex;
  color: black;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  padding: 20;
  margin-right: 8px;
  --bs-btn-disabled-color: black;
  --bs-btn-disabled-bg: #E8B548;
  --bs-btn-disabled-border-color: #E8B548;
}

.btn-primary:hover {
  background-color: #000000;
  color: #E8B548;
  border-color: #E8B548;
}

