.remove-text-decoration {
  a {
    text-decoration: none;
  }
}

.btn-primary {
  margin-left: 8px;
  background-color: #00FFAB;
  border-radius: 10px;
  border: none;
  display: flex;
  color: black;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  padding: 20;
  margin-right: 8px;
}

.btn-primary:hover {
  background-color: #000000;
  color: #00FFAB;
  border-color: #00FFAB;
}
