// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "button";
@import "card";
@import "letters";
@import "chatroom";
@import "message";
@import "leaderboard";
@import "modal";
@import "map";
@import "banner";




.card-box {
  background-color: white;
  flex-grow: 2;
}

.cards-events {
  height: 74vh;
  overflow: scroll;
}

.mb-5 {
  margin-bottom: 0px !important;
}

.text-center h4 {
  margin-top: 87px;
}
