.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
/*
.fixed-element {
  position: fixed;
  right: 0px;
  top: 0px;
  width: 36%;
  height: 100vh;
} */
